

.contact .row{
    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    align-items: center;

    & .image{
        flex:1 1 35rem;
    
        & img{
            width:100%;
        }
    }
    & form{
        flex:1 1 50rem;
        padding:2rem;
        box-shadow: 0 1rem 2rem rgba(0,0,0,.1);
        border-radius: .5rem;
    
        & .inputBox{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
        & .inputBox input, .contact .row form textarea{
            width:49%;
            margin:1rem 0;
            padding:1rem;
            font-size: 1.7rem;
            color:#333;
            background:#f7f7f7;
            text-transform: none;
        }
        & textarea{
            height: 15rem;
            resize: none;
            width:100%;
        }
    }
}






@media (max-width:450px){

    .contact .row form .inputBox input{
        width:100%;
    }

}