
.heading{
    text-align: center;
    padding:2.5rem 0
}

.heading span{
    font-size: 3.5rem;
    background:rgba(255, 165, 0,.2);
    color:var(--orange);
    border-radius: .5rem;
    padding:.2rem 1rem;
}

.heading span .space{
    background:none;
}






@media (max-width:450px){


    .heading span{
    font-size: 2.5rem;
    }

}
